/* style.css */
/* yay style stuff */

body {
  background-color: #1E2727;
  font-family: Helvetica, sans-serif;
  color: #EDFEFF;
}

nav a {
  background-color: #EDFEFF;
  text-decoration: none;
  color: #1E2727;
  font-weight: bold;
  border: 1px solid #EDFEFF;
  border-radius: 20px;
  padding: 10px 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

