.aboutmeContainer {
  display: flex;
  flex-direction: column;
  width: 60vw;
  align-items: center;
  font-size: clamp(0.5rem, 0.75rem + 1vw, 2rem);
  margin-top: 2rem;
}

.aboutmeContainer img {
  outline: 1px solid var(--outline-color);
  border-radius: 8px;
}

.profile img {
  width: clamp(10vw, 10rem + 15vw, 80%);
  outline-color: transparent;
}

.profile span {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

@media (max-width: 1100px) {
  .profile span {
    flex-wrap: wrap;
  }

  .aboutme1 {
    flex-wrap: wrap;
  }
}

#id {
  width: clamp(20%, 100px + vw, 100%);
}

.extracurriculars {
  display: flex;
  flex-direction: column;
}

.aboutme1 h4 {
  align-self: flex-start;
}

.aboutme1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutme2 {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.hobbies {
  display: flex;
  flex-direction: column;
  align-items: center;
}

audio {
  margin: 1rem;
}
