.buttonContainer {
  background-color: transparent;
  display: flex;
  padding: 0.75rem;
  justify-content: center;
  align-content: center;
  outline: 1px var(--text-primary) solid;
  border-radius: 50px;
  font-size: 1rem;
  color: var(--text-primary);
  justify-self: center;
}

.buttonContainer:hover {
  outline: 1px var(--primary-color) solid;
  background-color: transparent;
  color: var(--primary-color);
  transition: color 0.2s ease-out;
}
