.navbarContainer {
  display: flex;
  align-items: center;
  border-bottom: 1px var(--outline-color) solid;
  padding: 1vh;
  justify-content: space-between;
  height: 2rem;
}

nav img {
  width: 14px;
}

span {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--text-primary);
  text-decoration: none;
}

.no_underline {
  text-decoration: none;
}

#logo {
  width: 24px;
}
