.navTileContainer {
  display: flex;
  gap: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.3rem;
  align-items: center;
  background-color: none;
  transition: 0.1s ease-out;
  height: 1rem;
  position: relative;
}

.navTileContainer:hover {
  cursor: pointer;
}

.navTileContainer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  border-bottom: 1px solid transparent;
  transition: 0.1s ease-out;
}

.navTileContainer:hover::before {
  border-bottom-color: var(--outline-color);
}

.active::before {
  border-bottom-color: var(--text-secondary);
}

@media (max-width: 500px) {
  .navTileContainer span {
    display: none;
  }
}
