.sidebar {
  height: 100vh;
  min-height: 16rem;
  width: clamp(10rem, 10vw + 10rem, 33vw);
  border-right: 1px solid var(--outline-color);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.sidebar hr {
  height: 0;
  border: 0px;
  border-top: 1px var(--outline-color) solid;
}

.inactive {
  display: none;
  content: none;
}

.sidebarButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: none !important;
}
